<ion-content class="ion-padding">
  <div class="header">
    <h1 align="center">Log In</h1>
    <ion-img class="a-img-70" src="assets/general/logo.png"></ion-img>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <email-input [parentForm]="loginForm"></email-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <password-input [parentForm]="loginForm"></password-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <div>
            <ion-button type="submit" [disabled]="loginForm.invalid" expand="block">Log In</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <div>
            <ion-button type="button" (click)="onSubmit()" expand="block">Log In</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>