ion-item {
   // color: #ffffff;
    --ion-item-background: transparent;
    font-family: 'Spotify';
    p {
        color: #949494;
    }
}
ion-list {
    //--ion-background-color: var(--ion-color-dark);
}